<html>

<body>
    <!--Navigation-->
    <nav class="d-flex flex-row align-items-center justify-content-between max-width p-1 mx-auto bg-white">
        <a href="/"><img src="" class="logo-size" style="margin-left: -12px;"></a>
        <div class="d-flex flex-row justify-content-between justify-content-between align-items-center">
            <div class="d-none d-md-flex align-items-center">
                <a href="/" class="text-decoration-none align-items-center d-flex flex-column mx-3">
                    <h4 class="text-dark active">Home</h4>
                </a>
                <a href="../aboutus" class="text-decoration-none align-items-center d-flex flex-column mx-3">
                    <h4 class="text-dark">About us</h4>
                </a>
                <a href="../cart" class="text-decoration-none align-items-center d-flex flex-column mx-3">
                    <h4 class="text-dark">Cart</h4>
                </a>
                <a href="../checkout" class="text-decoration-none align-items-center d-flex flex-column mx-3 mr-4">
                    <h4 class="text-dark">Checkout</h4>
                </a>
            </div>
    </nav>
    </div>
</body>

</html>